<center>
<h1>Tasks</h1>
 <!-- <div ng-controller="TaskCtrl">
    <form ng-submit="addTask">
      <input type ="text" ng-model="task.name">
    </form>

    <ul>
      <li ng-repeat="task in tasks">
        {{task.description}}
      </li>
    </ul>

  </div> -->

  <div ng-controller="TaskCtrl">
  <ul>
    <li ng-repeat="task in tasks">
        {{task.description}}
    </li>
  </ul>
</div>

</center>
