<center>
<h1>Pomodoro</h1>
</center>
 <!-- <div ng-controller="TaskCtrl">
    <form ng-submit="addTask">
      <input type ="text" ng-model="task.name">
    </form>

    <ul>
      <li ng-repeat="task in tasks">
        {{task.description}}
      </li>
    </ul>

  </div> -->


  <div ng-controller="TaskCtrl">
  <ul>
    <li ng-repeat="task in tasks">
        {{task.description}} {{task.status}}
    </li>
  </ul>
</div>
