/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";

 // Import cerulean variables
 @import "bootswatch/amelia/variables";

 // Then bootstrap itself
 @import "bootstrap";

 // Bootstrap body padding for fixed navbar
 body { padding-top: 60px; }

 // And finally bootswatch style itself
 @import "bootswatch/amelia/bootswatch";

h1 {
    font-size: 650%;
    color: #ad1d28;
}

h2 {
   font-size: 400%;
   color: #27666d;
}

label {
    font-size: 250%;
    margin: 5px 0px;
    text-indent: 10px;
}

input[type=checkbox]
{
  float:right;
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}
.badge-inverse {
  width: 500px !important;
  background-color: #27666d;
}

.badge-select{
  width: 500px !important;
  background-color: #ad1d28;
}

.btn{
  position: relative;
  
}

// .badge-inverse:hover {
//   background-color: #ad1d28;
// }

#taskDivInProgress {
  float:left;
}

#taskDivComplete {
  float:right;
  padding-left: 1000 px;
  position: relative;
}

